* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #2C2C2C;
    color: white;
    font-family: Verdana;
}

/* HEADER */
header {
    background-color: #2D2D83;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
header img {
    width: 10%;
}

/* CONTAINER */
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.container p {
    font-size: 2rem;
}

/* FOOTER */
footer {
    background-color: #2ECC71;
    color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}